# Анализ пассажиров "Титаика"

In [ ]:
import urllib
import pandas
import random

url = 'http://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv'
csv = urllib.request.urlopen(url).read()
f = open('titanic.csv', 'wb')
f.write(csv)
data = pandas.read_csv('titanic.csv')
data_size = len(data.values)

## Значение конкретной ячейке в столбце Name и случайной строке

In [ ]:
print(data["Name"][random.randint(0,data_size)])

## Строчки в диапазоне от 394 до 423

In [ ]:
print(data[394:423])

## Сортировка по возрасту. Вывод первых 20 человек

In [ ]:
print(data[data['Pclass'] < 2][:20])

## Первые тридцать человек в списке, у которых указан возраст

In [ ]:
print(data['Age'].dropna()[:30])

## Введение нового столбца "Is child"

In [ ]:
data['Is child'] = data['Age'] < 18
print(data['Is child'][:20])

## Сортировка по возрасту. Вывод первых 20 человек

In [ ]:
print(data.sort_values('Age')[:20])

## Некоторые агрегрегирующие функции

In [ ]:
print(data.aggregate(['min', 'max', 'mean']))

## Группировка пассажиров по полу и вычсиление среднего возраста каждой группы

In [ ]:
print(data.groupby("Sex")['Age'].mean())